.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan-router
.terraform/
user-data/
env/
policy.json
terraform.tfvars
lab-1/modules/lab_cleanup/lambda/bson/
lab-1/modules/lab_cleanup/lambda/dns/
lab-1/modules/lab_cleanup/lambda/dnspython-2.8.0.dist-info/
lab-1/modules/lab_cleanup/lambda/gridfs/
lab-1/modules/lab_cleanup/lambda/pymongo/
lab-1/modules/lab_cleanup/lambda/pymongo-4.15.3.dist-info/
lab-1/modules/lab_cleanup/lambda/python/
lab-1/modules/lab_cleanup/lambda/layer.zip
lab-1/modules/lab_cleanup/lambda/cleanup_lambda.zip
backend/.env
backend/headscale.pem
backend_dump_current/
frontend_dump_current/
backend_dump_final/
**/__pycache__/
*.pyc
*.pyo
.env
tmp/
bandit-venv/
.venv/
.venv-wsl/
.venv_wsl/
.venv2/
dev.db

